.form-container {
    max-width: 400px;
    margin: 0 auto;
    background: #eeeee4;;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  #mtl{
   padding: 2rem;
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form .form-group {
    margin-bottom: 15px;
  }
  
  .login-form .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form .form-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .login-form .error-message {
    color: red;
    font-size: 0.875em;
  }
  .fp-container h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    margin-bottom: 10px;
    font-weight: 700;
    background: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:disabled {
    background-color: #cccccc;
  }
  
  .signup-link {
    text-align: center;
    margin-top: 20px;
  }
  .fp-container{
    height: 70vh;
  }

  .reset-password-container{
   height: 100vh;
  
  }
  