.file-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
  }
  
  .file-card {
    border: 1px solid #ccc;
    padding: 16px;
    width: 200px;
    text-align: center;
    margin: 1rem;
    background: rgb(48, 48, 123);
   
    background: linear-gradient(90deg, rgba(13,13,102,1) 0%, rgba(3,182,218,1) 0%, rgba(2,0,36,1) 100%);
  }
  
  .file-card h3 {
    margin: 0 0 8px;
  }
  
  .file-card p {
    margin: 4px 0;
  }
  
  .file-card a {
    display: block;
    margin: 8px 0;
    color: blue;
  }
  
  .file-card div span {
    font-size: 20px;
  }
  